# MySQL DB Configuration Template
MYSQL_DATABASE=YOUR_DATABASE_NAME
MYSQL_USER=YOUR_DATABASE_USERNAME
MYSQL_PASSWORD=YOUR_DATABASE_PASSWORD
MYSQL_ROOT_PASSWORD=YOUR_DATABASE_ROOT_PASSWORD

# Spring Boot Configuration Template
DB_URL=jdbc:mysql://db:3306/YOUR_DATABASE_NAME?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
DB_USERNAME=YOUR_DATABASE_USERNAME
DB_PASSWORD=YOUR_DATABASE_PASSWORD
